body {
}

h2 {
    text-align: center;
}

.gridview {
    font-family: 'Times New Roman';
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    border: 1.5px solid #F13737;
}

.gridview th {
    background-color: rgba(243, 103, 238, 0.5);
    font-weight: bold;
    padding: 6px;
    border: 1.5px solid #F13737;
}

.gridview tr:nth-child(even) {
    background-color: rgba(106, 243, 103, 0.5);
}

.gridview tr:not(:first-child):hover {
    background-color: rgba(244, 200, 87, 0.5);
}

.gridview td {
    padding: 8px;
    text-align: center;
    border: 1.5px solid #F13737;
}

.action_button {
    background-color: rgba(167, 225, 250, 1);
    font: 17px 'times new roman';
    border: 1.5px solid;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.action_button:hover {
    background-color: #5DC9FF;
}

.center {
    text-align: center;
}

.order_button {
    background-color: rgba(167, 225, 250, 1);
    font: 14px 'times new roman';
    border: 1.5px solid;
    border-radius: 20px;
    padding: 3px;
    font-weight: 550;
}

.order_button:hover {
    background-color: #5DC9FF;
}

.textbox {
    border: 1.5px solid;
    height: 17px;
    border-radius: 5px;
    text-align: center;
    width: 30px;
}