body {
}

h1 {
    text-align: center;
}

.RegisterTable {
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    border: 2px solid rgba(167, 225, 250, 1);
    border-radius: 10px;
    padding: 15px;
}

#Btn_Register {
    background-color: rgba(167, 225, 250, 1);
    font: 17px 'times new roman';
    border: 1.5px solid;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
}

#Btn_Register:hover {
    background-color: #5DC9FF;
}

#Btn_Choose {
    background-color: rgba(167, 225, 250, 1);
    font: 14px 'times new roman';
    border: 1.5px solid;
    border-radius: 20px;
    padding: 3px;
    font-weight: 550;
}

    #Btn_Choose:hover {
        background-color: #5DC9FF;
    }

.center {
    text-align: center;
}

.center td {
    text-align: center;
}

#IB_DoB {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

a {
    color: rgb(243, 103, 238);
}

a:hover {
    color: #D210C9;
}

.textbox {
    border: 1.5px solid;
    height: 17px;
    border-radius: 5px;
}