body {
}

h2 {
    text-align: center;
}

.ViewTable {
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    border: 2px solid rgba(167, 225, 250, 1);
    border-radius: 10px;
    padding: 15px;
}

.gridview {
    font-family: 'Times New Roman';
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    border: 1.5px solid #F13737;
}

.gridview th {
    background-color: rgba(243, 103, 238, 0.5);
    font-weight: bold;
    padding: 6px;
    border: 1.5px solid #F13737;
}

.gridview tr:nth-child(even) {
    background-color: rgba(106, 243, 103, 0.5);
}

.gridview tr:not(:first-child):hover {
    background-color: rgba(244, 200, 87, 0.5);
}

.gridview td {
    padding: 8px;
    text-align: center;
    border: 1.5px solid #F13737;
}

.back_button {
    background-color: rgba(167, 225, 250, 1);
    font: 17px 'times new roman';
    border: 1.5px solid;
    border-radius: 20px;
    padding: 3px;
    font-weight: 550;
}

.back_button:hover {
    background-color: #5DC9FF;
}

.center {
    text-align: center;
}

h3{
    text-align: center;
}